@charset "UTF-8";
body {
  font: 400 16px 'Roboto', sans-serif;
  line-height: 1.1;
  color: #fff;
  background: #14202b;
  letter-spacing: -0.24px;
  height: 100%;
}

.container {
  max-width: 1070px;
  margin: 50px auto;
  padding-left: 300px;
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0px;
  }
}

/*стили в проект*/
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu a {
  display: inline-block;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: none;
}
.main-menu img {
  vertical-align: top;
}
.main-menu img {
  max-width: 100%;
  max-height: 100%;
}
.main-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu a img {
  border: none;
  outline: none;
}
.main-menu__img {
  max-width: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-menu__list {
  display: inline-block;
  padding: 12px 16px;
}
.main-menu__link {
  color: #2f2e32;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  max-width: 190px;
}
@media screen and (min-width: 1024px) {
  .main-menu__link:hover {
    color: #f2634b;
  }
}
.main-menu__link--white {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;
  position: relative;
}
.main-menu__block {
  background: #fff;
  width: 725px;
  position: absolute;
  margin: 0;
  padding: 25px;
  left: 0px;
  top: 41px;
  max-width: 980px;
  z-index: 100;
  opacity: 1;
}
.main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
}
.main-menu__item {
  margin: 15px;
}
.main-menu__name {
  color: #f2634b;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}
.main-menu__link--white {
  color: #fff;
}
.main-menu__description {
  text-transform: uppercase;
  font-weight: 700;
  font-weight: 600;
  padding: 15px 0;
  font-size: 14px;
  color: #2f2e32;
}

.dropdown-menu-main {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.dropdown-menu-main__active {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  max-height: 500px;
}
@media screen and (min-width: 1024px) {
  .dropdown-menu-main:hover .dropdown-menu-main__active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.dropdown-menu {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.dropdown-menu__active {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .dropdown-menu:hover .dropdown-menu__active {
    opacity: 1;
    visibility: visible;
    padding-bottom: 15px;
    max-height: inherit;
  }
}

.dropdown-menu--icon {
  padding-right: 40px;
  position: relative;
  z-index: 1;
}
.dropdown-menu--icon::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 46%;
  border: 6px solid transparent;
  border-top: 5px solid #fff;
  transition: 0.3s linear 0;
  -webkit-transition: 0.3s linear 0;
  -o-transition: 0.3s linear 0;
}
.dropdown-menu--icon::after {
  content: '';
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  width: 2px;
  height: 15px;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .dropdown-menu--icon:hover {
    background: #fff;
  }
  .dropdown-menu--icon:hover .main-menu__link--white {
    color: #f2634b;
  }
  .dropdown-menu--icon:hover.dropdown-menu--icon::before {
    top: 31%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 5px solid #f2634b;
  }
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.ps--active-x > .ps__rail-x {
  display: none;
}

.ps--active-y > .ps__rail-y {
  top: 30px !important;
  right: 10px !important;
}

.ps__thumb-y {
  background-color: #f2634b;
  border-radius: 6px;
  width: 4px;
  right: 2px;
}

